body {
  background-color: #616161;
}

nav {
  background-color: #009688;
}

/* Format dates and locations for Work and Education */
.date-text {
  float: left;
  padding-left: 0.75em;
}

.location-text {
  float: right;
  padding-right: 0.75em;
}

/* Align Bio character Pic */
.bioPic {
  padding: 10px;
  width: 250px;
}

#footer-title {
  padding-left: 0.6em;
}

#footer-text {
  padding-left: 1.5em;
  font-size: 1.5em;
}

#footer-signature {
  padding-top: 1em;
  padding-left: 3em;
}

.footer-logo {
  margin-right: 2em;
  max-height: 36px;
}

/* Heart Shape created by Nicolas Gallagher (http://nicolasgallagher.com/) */
.heart-shape{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #ffcdd2;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.heart-shape:before,
.heart-shape:after{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffcdd2;
}
.heart-shape:before{
    bottom: 0px;
    left: -10px;
}
.heart-shape:after{
    top: -10px;
    right: 0px;
}
/* Heart Shape END */

/* Align logo (top-right) */
.brand-logo {
  margin-top: 4px;
  margin-right: 4px;
}

/* Adjust Materialize Modal Options */
/* Adjust to make sure image & text will fit on footer */
.modal.bottom-sheet {
  max-height: 85%;
}
/* Adjust color */
.modal .modal-footer {
    background-color: #e0f2f1;
}

/* Adjust media query so brand-logo doesn't center */
@media only screen and (max-width : 992px) {
  nav .brand-logo {
    left: 90%;
  }
}

/* Google Map Options */
#map {
  display: block;
  height: 100%;
}

#mapDiv {
  height: 450px;
  max-width: 100%;
  padding-bottom: 1%;
}

/* List Items horizontally */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
